html { height: 100%; }
body { 
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFF3F5;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114)) /* rgba(255, 182, 193, 0.5); /* Mild pink background color */
}

.loading-animation {
  width: calc(100vw - 48px);
  height: calc(100vh - 48px);
  display: flex;
  justify-content: center;
  align-items: center;
}
